[Unit]
Description=Aegis OTA daemon

[Service]
Type=dbus
BusName=de.skytrack.Aegis
ExecStart=/usr/bin/aegis daemon --config /etc/skytrack/system.conf
Restart=on-failure
RestartSec=5min

[Install]
WantedBy=multi-user.target
